Repository OpenMP-Validation-and-Verification/OpenMP_VV, pull requests merged in 2020-06, with the labels that each got.

#157 Mutiple fixes
  tests/4.5/target_teams_distribute/test_target_teams_distribute_reduction_bitand.F90
  tests/4.5/target_teams_distribute_parallel_for/test_target_teams_distribute_parallel_for_firstprivate.c
  tests/4.5/target_teams_distribute_parallel_for/test_target_teams_distribute_parallel_for_private.c
  tests/5.0/target_teams_distribute/test_target_teams_distribute_reduction_bitand.F90
Labels: V&V bug

#156 Addressing failing on host as per issue #127
  tests/4.5/target/test_target_map_struct_default.c
Labels: enhancement, ready

#153 Add LINK_OMPVV_LIB flag to enable static lib and test of static lib
  Makefile
Labels: compiler bug, enhancement, infrastructure, ready

#145 Add 5.0 test for requires dynamic allocators
  tests/5.0/requires/test_requires_dynamic_allocators.c
Labels: 5.0, new test, ready

#155 Add test of nested functions with declare target
  tests/5.0/declare_target/test_declare_target_nested.c
Labels: 5.0, new test, ready

#154 Add 5.0 test for mapping order
  tests/5.0/target/test_target_mapping_before_alloc.c
  tests/5.0/target/test_target_mapping_before_delete.c
Labels: 5.0, new test, ready

#159 Add test for declare variant directive
  tests/5.0/declare_variant/test_declare_variant.c
Labels: 5.0, new test, ready

#158 Adding 5.0 tests for use_device_ptr and use_device_addr.
  tests/5.0/target_data/test_target_data_use_device_addr.c
  tests/5.0/target_data/test_target_data_use_device_ptr.c
Labels: 5.0, ready
