Repository OpenMP-Validation-and-Verification/OpenMP_VV, pull requests merged in 2020-11, with the labels that each got.

#221 test_target_map_*_arrays.F90: Update comments
  tests/4.5/target/test_target_map_program_arrays.F90
  tests/4.5/target/test_target_map_subroutines_arrays.F90
Labels: bug fix, ready

#226 Adding new test for collapse.
  tests/4.5/target_teams_distribute_parallel_for/test_target_teams_distribute_parallel_for_collapse.c
Labels: ready

#222 5.0 allocate allocators test
  .gitignore
  tests/5.0/allocate/test_allocate_allocator.c
Labels: 5.0, new test, ready

#231 F90 5.0 test for requires unified shared memory
  tests/5.0/requires/test_requires_unified_shared_memory.F90
Labels: 5.0, new test, ready
