Repository OpenMP-Validation-and-Verification/OpenMP_VV, pull requests merged in 2020-01, with the labels that each got.

#28 Update test_target_data_use_device_ptr.c
  tests/4.5/target_data/test_target_data_use_device_ptr.c
Labels: ready

#42 New test/test target teams distribute default shared
  tests/4.5/target_teams_distribute/test_target_teams_distribute_default_shared.F90
  tests/4.5/target_teams_distribute/test_target_teams_distribute_default_shared.c
Labels: new test

#44 Fixing defaultmap tests which are suppose to be firstprivate
  tests/4.5/target/test_target_defaultmap.F90
  tests/4.5/target/test_target_defaultmap.c
  tests/4.5/target_teams_distribute/test_target_teams_distribute_defaultmap.c
  tests/4.5/target_teams_distribute_parallel_for/test_target_teams_distribute_parallel_for_defaultmap.c
Labels: bug

#47 Fixing test that are not compliant with macro usage
  tests/4.5/application_kernels/linked_list.c
  tests/4.5/application_kernels/mmm_target.c
  tests/4.5/application_kernels/mmm_target_parallel_for_simd.c
  tests/4.5/target/test_target_device.c
  tests/4.5/target_data/test_target_data_map_devices.c
Labels: enhancement

#63 Fixing small error with udefined variable in target_data_use_device_ptr.c
  tests/4.5/target_data/test_target_data_use_device_ptr.c
Labels: bug

#54 New test/test target teams distribute dist schedule
  tests/4.5/target_teams_distribute/test_target_teams_distribute_dist_schedule.F90
  tests/4.5/target_teams_distribute/test_target_teams_distribute_dist_schedule.c
Labels: new test

#53 New test/test target teams distribute thread limit
  tests/4.5/target_teams_distribute/test_target_teams_distribute_thread_limit.F90
  tests/4.5/target_teams_distribute/test_target_teams_distribute_thread_limit.c
Labels: new test

#56 Add Fortran version of default none test and minor clean up
  tests/4.5/target_teams_distribute/test_target_teams_distribute_default_none.F90
  tests/4.5/target_teams_distribute/test_target_teams_distribute_default_none.c
Labels: new test

#70 Fix macro usage in `test_target_update_to`
  tests/4.5/target_update/test_target_update_to.c
Labels: enhancement

#46 New test/test target teams distribute depend
  tests/4.5/target_teams_distribute/test_target_teams_distribute_depend_array_section.F90
  tests/4.5/target_teams_distribute/test_target_teams_distribute_depend_array_section.c
  tests/4.5/target_teams_distribute/test_target_teams_distribute_depend_disjoint_section.F90
  tests/4.5/target_teams_distribute/test_target_teams_distribute_depend_disjoint_section.c
  tests/4.5/target_teams_distribute/test_target_teams_distribute_depend_in_in.F90
  tests/4.5/target_teams_distribute/test_target_teams_distribute_depend_in_in.c
  tests/4.5/target_teams_distribute/test_target_teams_distribute_depend_in_out.F90
  tests/4.5/target_teams_distribute/test_target_teams_distribute_depend_in_out.c
  tests/4.5/target_teams_distribute/test_target_teams_distribute_depend_list.F90
  tests/4.5/target_teams_distribute/test_target_teams_distribute_depend_list.c
  tests/4.5/target_teams_distribute/test_target_teams_distribute_depend_out_in.F90
  tests/4.5/target_teams_distribute/test_target_teams_distribute_depend_out_in.c
  tests/4.5/target_teams_distribute/test_target_teams_distribute_depend_out_out.F90
  tests/4.5/target_teams_distribute/test_target_teams_distribute_depend_out_out.c
  tests/4.5/target_teams_distribute/test_target_teams_distribute_depend_unused_data.F90
  tests/4.5/target_teams_distribute/test_target_teams_distribute_depend_unused_data.c
Labels: bug filed, new test

#55 Add Fortran version of basic distribute test and fix some small errors
  tests/4.5/target_teams_distribute/test_target_teams_distribute.F90
  tests/4.5/target_teams_distribute/test_target_teams_distribute.c
  tests/4.5/target_teams_distribute/test_target_teams_distribute_collapse.F90
Labels: new test

#62 Add Fortran version of map test, fix format in C version
  tests/4.5/target_teams_distribute/test_target_teams_distribute_map.F90
  tests/4.5/target_teams_distribute/test_target_teams_distribute_map.c
Labels: new test

#72 Add Fortran default private test
  tests/4.5/target_teams_distribute/test_target_teams_distribute_default_private.F90
Labels: new test

#74 Start adding ability to specify number of teams, threads for issue #22
  Makefile
  ompvv/ompvv.F90
  ompvv/ompvv.h
  sys/make/make.def
  tests/4.5/target_teams_distribute/test_target_teams_distribute_default_shared.F90
  tests/4.5/target_teams_distribute/test_target_teams_distribute_default_shared.c
  tests/4.5/target_teams_distribute/test_target_teams_distribute_num_teams.F90
  tests/4.5/target_teams_distribute/test_target_teams_distribute_num_teams.c
  tests/4.5/target_teams_distribute/test_target_teams_distribute_private.F90
  tests/4.5/target_teams_distribute/test_target_teams_distribute_private.c
  tests/4.5/target_teams_distribute_parallel_for/test_target_teams_distribute_parallel_for_private.c
Labels: Makefile, enhancement, infrastructure

#75 Adding test to validate target inside task costruct.
  tests/4.5/task/test_task_target.c
Labels: new test

#65 Add Fortran version of defaultmap test plus C version cleanup
  tests/4.5/target_teams_distribute/test_target_teams_distribute_defaultmap.F90
  tests/4.5/target_teams_distribute/test_target_teams_distribute_defaultmap.c
  tests/4.5/target_teams_distribute_parallel_for/test_target_teams_distribute_parallel_for_defaultmap.c
Labels: bug filed, new test, report bug

#52 Add 4.5 and 5.0 Fortran versions of reduction tests
  tests/4.5/target_teams_distribute/test_target_teams_distribute_reduction_add.F90
  tests/4.5/target_teams_distribute/test_target_teams_distribute_reduction_and.F90
  tests/4.5/target_teams_distribute/test_target_teams_distribute_reduction_bitand.F90
  tests/4.5/target_teams_distribute/test_target_teams_distribute_reduction_bitor.F90
  tests/4.5/target_teams_distribute/test_target_teams_distribute_reduction_bitxor.F90
  tests/4.5/target_teams_distribute/test_target_teams_distribute_reduction_eqv.F90
  tests/4.5/target_teams_distribute/test_target_teams_distribute_reduction_max.F90
  tests/4.5/target_teams_distribute/test_target_teams_distribute_reduction_min.F90
  tests/4.5/target_teams_distribute/test_target_teams_distribute_reduction_multiply.F90
  tests/4.5/target_teams_distribute/test_target_teams_distribute_reduction_neqv.F90
  tests/4.5/target_teams_distribute/test_target_teams_distribute_reduction_or.F90
  tests/4.5/target_teams_distribute/test_target_teams_distribute_reduction_sub.F90
  tests/5.0/target_teams_distribute/test_target_teams_distribute_reduction_add.F90
  tests/5.0/target_teams_distribute/test_target_teams_distribute_reduction_and.F90
  tests/5.0/target_teams_distribute/test_target_teams_distribute_reduction_bitand.F90
  tests/5.0/target_teams_distribute/test_target_teams_distribute_reduction_bitor.F90
  tests/5.0/target_teams_distribute/test_target_teams_distribute_reduction_bitxor.F90
  tests/5.0/target_teams_distribute/test_target_teams_distribute_reduction_eqv.F90
  tests/5.0/target_teams_distribute/test_target_teams_distribute_reduction_max.F90
  tests/5.0/target_teams_distribute/test_target_teams_distribute_reduction_min.F90
  tests/5.0/target_teams_distribute/test_target_teams_distribute_reduction_multiply.F90
  tests/5.0/target_teams_distribute/test_target_teams_distribute_reduction_neqv.F90
  tests/5.0/target_teams_distribute/test_target_teams_distribute_reduction_or.F90
  tests/5.0/target_teams_distribute/test_target_teams_distribute_reduction_sub.F90
Labels: 5.0, bug filed, new test, report bug
