Repository OpenMP-Validation-and-Verification/OpenMP_VV, pull requests merged in 2021-02, with the labels that each got.

#248 Add 5.0 test of loop directive with private clause
  tests/5.0/loop/test_loop_private.c
  tests/5.0/loop/test_loop_private_device.c
Labels: 5.0, new test, ready

#267 Add test of declare target function with parallel for
  tests/5.0/declare_target/test_declare_target_parallel_for.c
Labels: new test, ready

#271 Adding target version of simd order concurrent test
  tests/5.0/target_simd/test_target_simd_order_concurrent.c
Labels: 5.0, new test, ready

#255 Adding new 5.0 test for defaultmap firstprivate
  tests/5.0/target/test_target_defaultmap_firstprivate.c
Labels: 5.0, new test, ready

#253 Adding new 5.0 test for nontemporal clause on simd construct
  tests/5.0/simd/test_simd_nontemporal.c
Labels: 5.0, new test, ready

#250 Add 5.0 test of parallel for construct with allocate clause
  tests/5.0/parallel_for/test_parallel_for_allocate.c
Labels: 5.0, new test, ready

#256 Add 5.0 test of parallel master taskloop construct
  tests/5.0/parallel_master_taskloop/test_parallel_master_taskloop.c
  tests/5.0/parallel_master_taskloop/test_parallel_master_taskloop_device.c
Labels: 5.0, new test, ready

#261 Loop bind tests on device
  tests/5.0/loop/test_loop_bind_device.c
  tests/5.0/loop/test_loop_nested_device.c
Labels: 5.0, new test, ready

#275 Issue #274: test_loop_lastprivate* reduce req stack size < default limit
  tests/5.0/loop/test_loop_lastprivate.c
  tests/5.0/loop/test_loop_lastprivate_device.c
Labels: V&V bug

#246 New 5.0 tests of loop with reduction clause
  tests/5.0/loop/test_loop_reduction_add.c
  tests/5.0/loop/test_loop_reduction_and.c
  tests/5.0/loop/test_loop_reduction_bitand.c
  tests/5.0/loop/test_loop_reduction_bitor.c
  tests/5.0/loop/test_loop_reduction_bitxor.c
  tests/5.0/loop/test_loop_reduction_max.c
  tests/5.0/loop/test_loop_reduction_min.c
  tests/5.0/loop/test_loop_reduction_multiply.c
  tests/5.0/loop/test_loop_reduction_or.c
  tests/5.0/loop/test_loop_reduction_subtract.c
Labels: 5.0, new test, ready

#263 Update gitignore to correctly ignore recent report online tags, pycache
  .gitignore
Labels: V&V bug, infrastructure, ready

#197 F90 5.0 tests for teams
  tests/5.0/teams/test_team_default_shared.F90
  tests/5.0/teams/test_teams.F90
  tests/5.0/teams/test_teams_distribute_default_none.F90
Labels: 5.0, new test, ready

#286 Move file into 5.0 directory and change header info
  tests/5.0/target_teams_distribute_parallel_for/test_target_teams_distribute_parallel_for_collapse.c
Labels: 5.0, ready

#269 Add 5.0 tests of master taskloop on host and device
  tests/5.0/master_taskloop/test_master_taskloop.c
  tests/5.0/master_taskloop/test_master_taskloop_device.c
Labels: 5.0, new test, ready

#283 Add 5.0 tests of parallel for construct with reduction(task...) clause
  tests/5.0/task/test_parallel_for_reduction_task.c
  tests/5.0/task/test_parallel_for_reduction_task_device.c
Labels: 5.0, new test, ready

#285 Add 5.0 tests of taskgroup construct with task_reduction clause
  tests/5.0/taskgroup/test_taskgroup_task_reduction.c
  tests/5.0/taskgroup/test_taskgroup_task_reduction_device.c
Labels: 5.0, new test, ready

#287 Add 5.0 tests of taskloop construct with in_reduction clause
  tests/5.0/taskloop/test_taskloop_in_reduction.c
  tests/5.0/taskloop/test_taskloop_in_reduction_device.c
Labels: 5.0, new test, ready

#272 Update test_omp_target_offload.c
  tests/5.0/program_control/test_omp_target_offload.c
Labels: 5.0, bug fix, ready

#266 Adding tests for the device_type cluse on declare target.
  tests/5.0/declare_target/test_declare_target_device_type_any.c
  tests/5.0/declare_target/test_declare_target_device_type_host.c
  tests/5.0/declare_target/test_declare_target_device_type_nohost.c
Labels: 5.0, ready, report bug

#277 Add 5.0 tests of master taskloop simd directive
  tests/5.0/master_taskloop_simd/test_master_taskloop_simd.c
  tests/5.0/master_taskloop_simd/test_master_taskloop_simd_device.c
Labels: 5.0, new test, ready

#257 Adding new 5.0 test for defaultmap to-from-tofrom
  tests/5.0/target/test_target_defaultmap_to_from_tofrom.c
Labels: 5.0, new test, ready

#262 Run test_omp_target_offload with multiple environment vars set
  Makefile
  sys/scripts/run_test.sh
  tests/5.0/program_control/test_omp_target_offload_env_DEFAULT.c
  tests/5.0/program_control/test_omp_target_offload_env_DISABLED.c
  tests/5.0/program_control/test_omp_target_offload_env_MANDATORY.c
Labels: enhancement, infrastructure, ready

#252 Add 5.0 test of scan directive and reduction(inscan..) on par for simd
  tests/5.0/scan/test_scan.c
Labels: 5.0, compiler bug, new test, ready

#276 Add 5.0 tests of parallel master directive
  tests/5.0/parallel_master/test_parallel_master.c
  tests/5.0/parallel_master/test_parallel_master_device.c
Labels: 5.0, new test, ready

#278 Add 5.0 tests of parallel master taskloop simd directive
  tests/5.0/parallel_master_taskloop_simd/test_parallel_master_taskloop_simd.c
  tests/5.0/parallel_master_taskloop_simd/test_parallel_master_taskloop_simd_device.c
Labels: 5.0, new test, ready

#282 Add 5.0 tests of task construct with in_reduction clause
  tests/5.0/task/test_task_depend_iterator.cpp
  tests/5.0/task/test_task_in_reduction.c
  tests/5.0/task/test_task_in_reduction_device.c
Labels: 5.0, compiler bug, new test, ready

#288 Add 5.0 tests of taskloop simd construct with in_reduction clause
  tests/5.0/taskloop_simd/test_taskloop_simd_in_reduction.c
  tests/5.0/taskloop_simd/test_taskloop_simd_in_reduction_device.c
Labels: 5.0, new test, ready

#292 Add Fortran version of task detach test
  tests/5.0/task/test_task_detach.F90
  tests/5.0/task/test_task_detach.c
Labels: 5.0, new test, ready

#290 Adding new 5.0 test for omp_get_supported_active_levels
  tests/5.0/program_control/test_omp_get_supported_active_levels.c
Labels: 5.0, new test, ready

#284 New 5.0 test for standalone depobj construct
  tests/5.0/depobj/test_depobj_depend_update_destroy.cpp
Labels: 5.0, new test, ready

#289 Adding new 5.0 test for omp_get_device_num
  tests/5.0/program_control/test_omp_get_device_num.c
Labels: 5.0, new test, ready

#268 Add device versions of 5.0 loop reduction tests
  tests/5.0/loop/test_loop_reduction_add_device.c
  tests/5.0/loop/test_loop_reduction_and_device.c
  tests/5.0/loop/test_loop_reduction_bitand_device.c
  tests/5.0/loop/test_loop_reduction_bitor_device.c
  tests/5.0/loop/test_loop_reduction_bitxor_device.c
  tests/5.0/loop/test_loop_reduction_max_device.c
  tests/5.0/loop/test_loop_reduction_min_device.c
  tests/5.0/loop/test_loop_reduction_multiply_device.c
  tests/5.0/loop/test_loop_reduction_or_device.c
  tests/5.0/loop/test_loop_reduction_subtract_device.c
Labels: 5.0, new test, ready

#164 Adding test for atomic construct.
  tests/5.0/atomic/test_atomic_acquire_release.c
Labels: 5.0, awaiting testing, ready
