Repository OpenMP-Validation-and-Verification/OpenMP_VV, pull requests merged in 2021-09, with the labels that each got.

#394 Issue 393: Fix restriction violations on test_target_device.c
  tests/5.0/target/test_target_device.c
Labels: ready, bug fix

#368 Adding 3 new .F90 tests per issue#81 and fixing accompanying .c files
  tests/4.5/target_teams_distribute_parallel_for/test_target_teams_distribute_parallel_for_num_threads.F90
  tests/4.5/target_teams_distribute_parallel_for/test_target_teams_distribute_parallel_for_num_threads.c
  tests/4.5/target_teams_distribute_parallel_for/test_target_teams_distribute_parallel_for_thread_limit.F90
  tests/4.5/target_teams_distribute_parallel_for/test_target_teams_distribute_parallel_for_thread_limit.c
  tests/4.5/target_update/test_target_update_to.F90
  tests/4.5/target_update/test_target_update_to.c
Labels: enhancement, new test, ready

#397 test_atomic_compare.c: Init pmax variable
  tests/5.1/atomic/test_atomic_compare.c
Labels: bug fix

#364 Addressing issue #105 and fixing header of random file
  tests/4.5/target/test_target_map_classes_default.cpp
  tests/5.0/application_kernels/declare_target_base_and_derived_class.cpp
  tests/5.0/application_kernels/declare_target_base_class.cpp
Labels: new test, ready

#370 Adding 4 new .F90 tests per issue #81 and fixing related .c files - pt 3
  tests/4.5/target_teams_distribute_parallel_for/test_target_teams_distribute_parallel_for_map_default.F90
  tests/4.5/target_teams_distribute_parallel_for/test_target_teams_distribute_parallel_for_map_default.c
  tests/4.5/target_teams_distribute_parallel_for/test_target_teams_distribute_parallel_for_map_from.F90
  tests/4.5/target_teams_distribute_parallel_for/test_target_teams_distribute_parallel_for_map_from.c
  tests/4.5/target_teams_distribute_parallel_for/test_target_teams_distribute_parallel_for_map_to.F90
  tests/4.5/target_teams_distribute_parallel_for/test_target_teams_distribute_parallel_for_map_to.c
  tests/4.5/target_teams_distribute_parallel_for/test_target_teams_distribute_parallel_for_map_tofrom.F90
  tests/4.5/target_teams_distribute_parallel_for/test_target_teams_distribute_parallel_for_map_tofrom.c
Labels: enhancement, new test, ready

#304 Update test_declare_target_device_type_nohost.c
  tests/5.0/declare_target/test_declare_target_device_type_nohost.c
Labels: 5.0, ready
