Repository OpenMP-Validation-and-Verification/OpenMP_VV, pull requests merged in 2021-04, with the labels that each got.

#310 Add 5.0 Fortran test of declare variant construct
  tests/5.0/declare_variant/test_declare_variant.F90
  tests/5.0/declare_variant/test_declare_variant.c
Labels: 5.0, new test, ready

#313 Adding new 5.0 test for simd with 'if' clause
  tests/5.0/simd/test_simd_if.c
Labels: 5.0, new test, ready

#305 New 5.0 test for metadirective with when and default
  tests/5.0/metadirective/test_metadirective_arch_is_nvidia.c
  tests/5.0/metadirective/test_metadirective_arch_nvidia_or_amd.c
Labels: 5.0, new test, ready

#309 Add Fortran test of use_device_ptr on target data
  tests/5.0/target_data/test_target_data_use_device_ptr.F90
Labels: 5.0, new test, ready

#314 Add Fortran 5.0 test of parallel for with allocate clause
  tests/5.0/parallel_for/test_parallel_for_allocate.F90
Labels: 5.0, new test, ready

#317 Add Fortran host and device 5.0 tests of loop construct
  tests/5.0/loop/test_loop_order_concurrent.F90
  tests/5.0/loop/test_loop_order_concurrent.c
  tests/5.0/loop/test_loop_order_concurrent_device.F90
Labels: 5.0, new test, ready

#325 Update test_parallel_master_taskloop.c
  tests/5.0/parallel_master_taskloop/test_parallel_master_taskloop.c
Labels: bug fix, ready

#326 Update test_parallel_master_taskloop_device.c
  tests/5.0/parallel_master_taskloop/test_parallel_master_taskloop_device.c
Labels: 5.0, bug fix, ready

#328 Update test_target_parallel.c
  tests/4.5/target_parallel/test_target_parallel.c
Labels: bug fix, ready

#329 Fix header spec version in Fortran 4.5 reduction tests
  tests/4.5/target_teams_distribute/test_target_teams_distribute_reduction_add.F90
  tests/4.5/target_teams_distribute/test_target_teams_distribute_reduction_and.F90
  tests/4.5/target_teams_distribute/test_target_teams_distribute_reduction_bitand.F90
  tests/4.5/target_teams_distribute/test_target_teams_distribute_reduction_bitor.F90
  tests/4.5/target_teams_distribute/test_target_teams_distribute_reduction_bitxor.F90
  tests/4.5/target_teams_distribute/test_target_teams_distribute_reduction_eqv.F90
  tests/4.5/target_teams_distribute/test_target_teams_distribute_reduction_max.F90
  tests/4.5/target_teams_distribute/test_target_teams_distribute_reduction_min.F90
  tests/4.5/target_teams_distribute/test_target_teams_distribute_reduction_multiply.F90
  tests/4.5/target_teams_distribute/test_target_teams_distribute_reduction_neqv.F90
  tests/4.5/target_teams_distribute/test_target_teams_distribute_reduction_or.F90
Labels: bug fix, ready

#322 Add target version of 5.0 simd if test
  tests/5.0/target_simd/test_target_simd_if.c
Labels: 5.0, new test, ready
