Repository OpenMP-Validation-and-Verification/OpenMP_VV, pull requests merged in 2021-06, with the labels that each got.

#343 Fix error variable initialization in test_declare_variant.F90
  tests/5.0/declare_variant/test_declare_variant.F90
Labels: bug fix, ready

#344 Adding application test for bug encountered by GenASiS.
  tests/4.5/application_kernels/omp_default_device.c
Labels: new test, ready

#337 Add Fortran 5.0 tests of simd construct with if clause, host and device
  tests/5.0/simd/test_simd_if.F90
  tests/5.0/target_simd/test_target_simd_if.F90
Labels: 5.0, new test, ready

#347 Add Fortran versions of uses_allocators tests
  tests/5.0/target/test_target_uses_allocators_cgroup.F90
  tests/5.0/target/test_target_uses_allocators_const.F90
  tests/5.0/target/test_target_uses_allocators_default.F90
  tests/5.0/target/test_target_uses_allocators_default.c
  tests/5.0/target/test_target_uses_allocators_high_bw.F90
  tests/5.0/target/test_target_uses_allocators_high_bw.c
  tests/5.0/target/test_target_uses_allocators_large_cap.F90
  tests/5.0/target/test_target_uses_allocators_low_lat.F90
  tests/5.0/target/test_target_uses_allocators_pteam.F90
  tests/5.0/target/test_target_uses_allocators_pteam.c
  tests/5.0/target/test_target_uses_allocators_thread.F90
  tests/5.0/target/test_target_uses_allocators_thread.c
Labels: 5.0, new test, ready

#348 New use_device_addr test in Fortran 5.0
  tests/5.0/target_data/test_target_data_use_device_addr.F90
  tests/5.0/target_data/test_target_data_use_device_addr.c
  tests/5.0/target_data/test_target_data_use_device_ptr.c
Labels: 5.0, new test, ready

#338 Adding separate compilation commands for amd and nvidia device type
  sys/make/make.def
Labels: Makefile, infrastructure, ready
