Repository OpenMP-Validation-and-Verification/OpenMP_VV, pull requests merged in 2021-01, with the labels that each got.

#230 Fixing data race and order issues in task detach test
  tests/5.0/task/test_task_detach.c
Labels: 5.0, bug fix, ready

#236 Add 5.0 test of atomic sync hints
  tests/5.0/atomic/test_atomic_hint.c
Labels: 5.0, compiler bug, new test, ready

#243 Issue 242: Remove test_target_mapping_before_delete.c
  tests/5.0/target/test_target_mapping_before_delete.c
Labels: 5.0, V&V bug

#237 Add 5.0 test of loop construct with order(concurrent)
  tests/5.0/loop/test_loop_order_concurrent.c
Labels: 5.0, new test, ready

#235 Adding support for intel OneAPI compiler: icx, icpx, and ifx
  sys/make/make.def
  sys/systems/iris.def
Labels: Makefile, enhancement, in progress, infrastructure

#245 Update README.md
  README.md
Labels: ready

#241 Adding new 5.0 test for close map type modifier on map clause
  tests/5.0/target/test_target_map_with_close_modifier.c
Labels: 5.0, new test, ready

#239 Adding OpenMP kernels from GridMini
  tests/4.5/application_kernels/gridmini_map_struct_float_mul.cpp
  tests/5.0/application_kernels/gridmini_map_class.cpp
  tests/5.0/application_kernels/gridmini_map_struct_array.cpp
  tests/5.0/application_kernels/gridmini_map_struct_float_mul.cpp
  tests/5.0/application_kernels/gridmini_map_template.cpp
  tests/5.0/application_kernels/gridmini_map_template_array.cpp
  tests/5.0/application_kernels/gridmini_ptr.cpp
Labels: new test, ready

#247 New 5.0 test for defaultmap
  tests/5.0/target/test_target_defaultmap_default.c
  tests/5.0/target/test_target_defaultmap_none.c
Labels: 5.0, new test, ready

#238 5.0 test of loop construct with bind clause
  tests/5.0/loop/test_loop_bind.c
  tests/5.0/loop/test_loop_nested.c
Labels: 5.0, new test, ready

#244 Add 5.0 test of loop directive with collapse clause
  tests/5.0/loop/test_loop_collapse.c
Labels: 5.0, new test, ready

#240 Adding tests for OMP_TARGET_OFFLOAD
  tests/5.0/program_control/test_omp_target_offload.c
Labels: 5.0, new test, ready

#260 5.0/program_control/test_omp_target_offload.c: Remove _OPENMP check
  tests/5.0/program_control/test_omp_target_offload.c
Labels: V&V bug

#249 Add 5.0 test of loop directive with lastprivate clause
  tests/5.0/loop/test_loop_lastprivate.c
Labels: 5.0, new test, ready

#254 Adding new 5.0 test for simd with order(concurrent) clause
  tests/5.0/simd/test_simd_order_concurrent.c
Labels: 5.0, new test, ready

#251 Add 5.0 test of parallel for construct with order(concurrent)
  tests/5.0/parallel_for/test_parallel_for_order_concurrent.c
Labels: 5.0, new test, ready

#265 Add device version of loop lastprivate test
  tests/5.0/loop/test_loop_lastprivate_device.c
Labels: 5.0, new test, ready
