Repository OpenMP-Validation-and-Verification/OpenMP_VV, pull requests merged in 2021-07, with the labels that each got.

#349 Adding tests for depend mutexinoutset.
  tests/5.0/target/test_target_task_depend_mutexinoutset.c
  tests/5.0/task/test_task_depend_mutexinoutset.c
Labels: 5.0, new test, ready

#345 Adding new 5.0 test for flush directive with no mem ordering
  tests/5.0/flush/test_flush_no_memory_order_clause.c
Labels: 5.0, new test, ready

#357 Adding header info to several files that are missing headers
  tests/4.5/target_enter_data/test_target_enter_data_depend.c
  tests/4.5/target_enter_data/test_target_enter_data_devices.c
  tests/4.5/target_enter_data/test_target_enter_data_global_array.c
  tests/4.5/target_enter_data/test_target_enter_data_struct.c
  tests/4.5/target_enter_exit_data/test_target_enter_exit_data_map_malloced_array.c
  tests/4.5/target_update/test_target_update_depend.c
Labels: enhancement, ready

#291 Add new 5.0 for set, get, capture affinity
  tests/5.0/program_control/test_capture_omp_affinity.c
  tests/5.0/program_control/test_set_and_get_omp_affinity.c
Labels: 5.0, new test, ready

#303 New 5.0 test for target directive with allocate clause
  tests/5.0/target/test_target_allocate.c
Labels: 5.0, new test, ready

#365 Update README.md
  README.md
Labels: ready
