Repository OpenMP-Validation-and-Verification/OpenMP_VV, pull requests merged in 2021-05, with the labels that each got.

#330 Add tests of atomic nested in simd on device (Fortran), host (C/Fortran)
  tests/5.0/parallel_for_simd/test_parallel_for_simd_atomic.F90
  tests/5.0/parallel_for_simd/test_parallel_for_simd_atomic.c
  tests/5.0/target_teams_distribute_parallel_for_simd/test_target_teams_distribute_parallel_for_simd_atomic.F90
  tests/5.0/target_teams_distribute_parallel_for_simd/test_target_teams_distribute_parallel_for_simd_atomic.c
Labels: 5.0, new test, ready

#332 Adding declare target test for declare target with end declare target.
  tests/4.5/declare_target/test_declare_target_end_declare_target.c
  tests/4.5/declare_target/test_declare_target_extended_list.c
  tests/4.5/declare_target/test_declare_target_link_extended_list.c
  tests/4.5/declare_target/test_declare_target_to_extended_list.c
Labels: new test, ready

#335 Update test_target_teams_distribute_device.c
  tests/4.5/target_teams_distribute/test_target_teams_distribute_device.c
Labels: bug fix, ready
