Repository OpenMP-Validation-and-Verification/OpenMP_VV, pull requests merged in 2022-06, with the labels that each got.

#458 New teams test with thread limit
  tests/5.1/teams/test_target_teams_thread_limit.c
Labels: new test, ready, 5.1

#493 'target_memcpy_async' test
  tests/5.1/target/test_target_memcpy_async_depobj.c
Labels: awaiting testing, 5.1

#539 Add new_test/test_loop_private_device.F90
  tests/5.0/loop/test_loop_private_device.F90
  tests/5.0/loop/test_loop_private_device.c
Labels: new test, 5.0, ready

#532 New 5.2 test for target enter data map and target exit data map
  tests/5.2/target_enter_data/test_target_enter_data_map.c
Labels: new test, ready, 5.2

#540 Creating taskloop dir and moving tests from strict and strict1 here.
  tests/5.1/taskloop/test_taskloop_grainsize_strict.c
  tests/5.1/taskloop/test_taskloop_numtask_strict.c
Labels: ready, 5.1

#531 Add new_test/test_loop_reduction_or.F90
  tests/5.0/loop/test_loop_reduction_or.F90
Labels: new test, 5.0, ready

#528 New test/test loop reduction and device.f90
  tests/5.0/loop/test_loop_reduction_and_device.F90
Labels: new test, 5.0, ready

#553 Fix test_target_teams_thread_limit.c
  tests/5.1/teams/test_target_teams_thread_limit.c
Labels: bug fix

#552 Omp_teams_thread_limit env var test
  tests/5.1/env_var/test_omp_teams_thread_limit_env_2.c
Labels: ready, 5.1

#554 "make tidy" remove .exitstatus files
  Makefile
Labels: Makefile, ready, bug fix

#474 Taskwait nowait Test
  tests/5.1/taskwait/test_task_nowait.c
Labels: ready, 5.1

#529 Add new_test/test_loop_reduction_and.F90
  tests/5.0/loop/test_loop_reduction_and.F90
Labels: new test, 5.0, ready

#478 Add new_test/test_parallel_master_taskloop.F90
  tests/5.0/parallel_master_taskloop/test_parallel_master_taskloop.F90
  tests/5.0/parallel_master_taskloop/test_parallel_master_taskloop.c
Labels: new test, 5.0, ready

#556 num_teams env var test
  tests/5.1/env_var/test_omp_num_teams_env_2.c
Labels: new test, ready, 5.1

#547 Add new_test/test_loop_lastprivate.F90
  tests/5.0/loop/test_loop_lastprivate.F90
Labels: new test, 5.0, ready

#558 omp_target_is_accessible test
  tests/5.1/target/test_target_is_accessible.c
Labels: new test, ready, 5.1

#546 Issue 545: 4.5/target/test_target_defaultmap.F90 avoid OMP5.0-isms
  tests/4.5/target/test_target_defaultmap.F90
Labels: ready, bug fix, 4.5

#533 Add new_test/test_loop_reduction_bitand.F90
  tests/5.0/loop/test_loop_reduction_bitand.F90
  tests/5.0/loop/test_loop_reduction_bitand.c
Labels: new test, 5.0, ready

#535 Add new_test/test_loop_reduction_bitor.F90
  tests/5.0/loop/test_loop_reduction_bitor.F90
  tests/5.0/loop/test_loop_reduction_bitor.c
Labels: new test, 5.0, ready

#557 New test for the order reproducable clause with the taskloop construct
  tests/5.1/order/test_taskloop_order_reproducible_device.c
Labels: new test, ready, 5.1

#567 Fix test_taskloop_order_reproducible_device.c
  tests/5.1/order/test_taskloop_simd_order_reproducible_device.c
Labels: ready, bug fix, 5.1

#563 New test for the order reproducable clause with the loop construct
  tests/5.1/order/test_loop_order_reproducible.c
Labels: new test, ready, 5.1

#566 Remove unused vars: target_defaultmap.F90, printf_in_target_region.c
  tests/4.5/target/test_target_defaultmap.F90
  tests/5.2/misc/test_printf_in_target_region.c
Labels: enhancement, ready

#564 Update test_target_teams_distribute_parallel_for_if_parallel_modifier.F90
  tests/4.5/target_teams_distribute_parallel_for/test_target_teams_distribute_parallel_for_if_parallel_modifier.F90
Labels: ready, bug fix

#561 Test for Masked construct w/ & w/o filter clause
  tests/5.1/masked/test_masked.F90
  tests/5.1/masked/test_masked.c
  tests/5.1/masked/test_masked_filter.F90
  tests/5.1/masked/test_masked_filter.c
Labels: new test, ready, 5.1
