Repository OpenMP-Validation-and-Verification/OpenMP_VV, pull requests merged in 2022-03, with the labels that each got.

#482 Chaning run_test.sh to support omp_display_env
  sys/scripts/run_test.sh
Labels: ready, bug fix

#446 Added taskwait for race condition in task_in_reduction_dynamically_enclosed
  tests/5.0/task/test_task_in_reduction_dynamically_enclosed.c
Labels: 5.0, ready, bug fix

#450 Test omp display env
  tests/5.1/runtime_calls/test_omp_display_env.c
Labels: ready, 5.1

#490 test_omp_display_env.c: Don't call routine in target
  tests/5.1/runtime_calls/test_omp_display_env.c
Labels: bug fix

#460 Add new_test/test_target_allocate.F90.
  tests/5.0/target/test_target_allocate.F90
  tests/5.0/target/test_target_allocate.c
Labels: new test, 5.0, ready

#476 Add new_test/test_parallel_master.F90
  tests/5.0/parallel_master/test_parallel_master.F90
Labels: new test, 5.0, ready

#492 Update ompvv.F90
  ompvv/ompvv.F90
Labels: enhancement, infrastructure, ready

#479 Add new_test/test_parallel_master_taskloop_device.F90
  tests/5.0/parallel_master_taskloop/test_parallel_master_taskloop_device.F90
  tests/5.0/parallel_master_taskloop/test_parallel_master_taskloop_device.c
Labels: new test, 5.0, ready

#477 New test/test parallel master device.f90
  tests/5.0/parallel_master/test_parallel_master_device.F90
Labels: new test, 5.0, ready

#471 Add tests/5.0/target_teams_distribute_parallel_for/test_target_teams_…
  tests/5.0/target_teams_distribute_parallel_for/test_target_teams_distribute_parallel_for_collapse.F90
  tests/5.0/target_teams_distribute_parallel_for/test_target_teams_distribute_parallel_for_collapse.c
Labels: new test, 5.0, ready

#469 Add tests/5.0/target_update/test_target_update_mapper_from_discontigu…
  tests/5.0/target_update/test_target_update_mapper_from_discontiguous.F90
Labels: new test, 5.0, ready

#468 Add tests/5.0/target/test_target_task_depend_mutexinoutset.F90
  tests/5.0/target/test_target_task_depend_mutexinoutset.F90
Labels: new test, 5.0, ready

#465 Add test_target_map_with_close_modifier.F90
  tests/5.0/target/test_target_map_with_close_modifier.F90
  tests/5.0/target/test_target_map_with_close_modifier.c
Labels: new test, 5.0, ready

#484 test_target_enter_exit_data_depend.F90: Unmap stack vars
  tests/4.5/target_enter_exit_data/test_target_enter_exit_data_depend.F90
Labels: ready, bug fix, 4.5

#486 Add new_test/test_master_taskloop.F90
  tests/5.0/master_taskloop/test_master_taskloop.F90
Labels: new test, 5.0, ready

#440 Allocate directive new tests
  tests/5.0/allocate/test_allocate.c
  tests/5.0/allocate/test_allocate_on_device.c
  tests/5.1/allocate/test_allocate_allocator_align.c
Labels: 5.0, ready, 5.1

#459 Target 'has_device_addr' 5.1 Test
  tests/5.1/target/test_target_has_device_addr.c
Labels: new test, ready, 5.1

#496 test_target_defaultmap_*: Various fixes
  tests/5.0/target/test_target_defaultmap_default.F90
  tests/5.0/target/test_target_defaultmap_firstprivate.F90
  tests/5.0/target/test_target_defaultmap_none.F90
  tests/5.0/target/test_target_defaultmap_to_from_tofrom.F90
  tests/5.1/default/test_default_firstprivate_parallel.c
Labels: ready, bug fix

#495 test_taskloop_strict_numtasks.c: Add missing 'reduction(+:'
  tests/5.1/strict1/test_taskloop_strict_numtasks.c
Labels: ready, bug fix

#501 Minor update on new_test/test_target_map_with_close_modifier.F90
  tests/5.0/target/test_target_map_with_close_modifier.F90
Labels: 5.0

#383 Adding test for target_teams_distribute_parallel_for_if with parallel modifier
  tests/4.5/target_teams_distribute_parallel_for/test_target_teams_distribute_parallel_for_if_parallel_modifier.F90
  tests/4.5/target_teams_distribute_parallel_for/test_target_teams_distribute_parallel_for_if_parallel_modifier.c
Labels: new test, ready

#499 Silences warnings, fix bugs found that way
  tests/4.5/application_kernels/declare_target_module.F90
  tests/4.5/application_kernels/linked_list.c
  tests/4.5/target/test_target_device.F90
  tests/4.5/target_data/test_target_data_map_classes.cpp
  tests/4.5/target_data/test_target_data_map_devices.F90
  tests/4.5/target_data/test_target_data_map_from_array_sections.F90
  tests/4.5/target_data/test_target_data_map_set_default_device.F90
  tests/4.5/target_enter_data/test_target_enter_data_devices.F90
  tests/4.5/target_enter_data/test_target_enter_data_set_default_device.F90
  tests/4.5/target_enter_exit_data/test_target_enter_exit_data_devices.F90
  tests/4.5/target_enter_exit_data/test_target_enter_exit_data_set_default_device.F90
  tests/4.5/target_teams_distribute/test_target_teams_distribute_default_firstprivate.F90
  tests/4.5/target_teams_distribute/test_target_teams_distribute_depend_in_in.F90
  tests/4.5/target_teams_distribute/test_target_teams_distribute_firstprivate.F90
  tests/4.5/target_teams_distribute/test_target_teams_distribute_reduction_and.F90
  tests/4.5/target_teams_distribute/test_target_teams_distribute_reduction_or.F90
  tests/4.5/target_teams_distribute_parallel_for/test_target_teams_distribute_parallel_for_if_no_modifier.F90
  tests/5.0/allocate/test_allocate_allocator.c
  tests/5.0/application_kernels/declare_target_base_and_derived_class.cpp
  tests/5.0/application_kernels/declare_target_base_class.cpp
  tests/5.0/application_kernels/lsms_triangular_packing.cpp
  tests/5.0/declare_mapper/test_declare_mapper_target_struct.c
  tests/5.0/metadirective/test_metadirective_arch_nvidia_or_amd.c
  tests/5.0/program_control/test_capture_omp_affinity.c
  tests/5.0/program_control/test_set_and_get_omp_affinity.c
  tests/5.0/requires/test_requires_dynamic_allocators.c
  tests/5.0/simd/test_simd_nontemporal.c
  tests/5.0/target/test_target_defaultmap_default.c
  tests/5.0/target/test_target_device.c
  tests/5.0/target/test_target_in_reduction.c
  tests/5.0/target_teams_distribute/test_target_teams_distribute_reduction_and.F90
  tests/5.0/target_teams_distribute/test_target_teams_distribute_reduction_and.c
  tests/5.0/target_teams_distribute/test_target_teams_distribute_reduction_or.F90
  tests/5.0/target_update/test_target_update_mapper_from_discontiguous.c
  tests/5.0/target_update/test_target_update_mapper_to_discontiguous.c
  tests/5.0/task/test_task_affinity_device.c
  tests/5.0/teams/test_teams.F90
  tests/5.1/default/test_task_target_default_firstprivate.c
  tests/5.1/target_update/test_target_update_to_present.c
Labels: bug fix
