Repository OpenMP-Validation-and-Verification/OpenMP_VV, pull requests merged in 2022-07, with the labels that each got.

#572 Issue 571: Fix race in 5.1/masked/test_masked
  tests/5.1/masked/test_masked.F90
  tests/5.1/masked/test_masked.c
  tests/5.1/masked/test_masked_filter.F90
  tests/5.1/masked/test_masked_filter.c
Labels: ready, bug fix, 5.1

#570 Issue 464: Avoid con't line issue in test_target_mapping_before_alloc.F90
  tests/5.0/target/test_target_mapping_before_alloc.F90
Labels: ready, bug fix

#579 Added order unconstrained clause on parallel loop test
  tests/5.1/order/test_loop_order_unconstrained.c
Labels: new test, ready, 5.1

#578 Added order unconstrained clause on parallel for test
  tests/5.1/order/test_parallel_for_order_unconstrained.c
Labels: new test, ready, 5.1

#586 Adding new test to check host memory is accessible when usm is required
  tests/5.1/requires/test_target_is_accessible_with_usm.c
Labels: ready, 5.1

#587 Assume Directive Tests
  tests/5.1/assume/test_assume_absent.c
  tests/5.1/assume/test_assume_contains.c
  tests/5.1/assume/test_assume_holds.c
  tests/5.1/assume/test_assume_no_openmp.c
  tests/5.1/assume/test_assume_no_openmp_routines.c
  tests/5.1/assume/test_assume_no_parallelism.c
  tests/5.1/assume/test_assumes_contains.c
  tests/5.1/assume/test_begin_end_assumes_contains.c
Labels: new test, ready, 5.1
