Repository OpenMP-Validation-and-Verification/OpenMP_VV, pull requests merged in 2022-12, with the labels that each got.

#639 Create test_declare_target_enter_device_type_host.c
  tests/5.2/declare_target/test_declare_target_enter_device_type_host.c
Labels: ready, 5.2

#634 Create test_declare_target_device_type_nohost1.c
  tests/5.0/declare_target/test_declare_target_device_type_nohost1.c
Labels: 5.0, ready

#623 New test for the interop construct
  tests/5.1/interop/test_interop_target.c
Labels: new test, ready, 5.1

#618 Add new_test/test_declare_target_device_type_host.F90
  tests/5.0/declare_target/test_declare_target_device_type_host.F90
Labels: new test, 5.0, ready

#620 Add new_test/test_declare_target_parallel_for.F90
  tests/5.0/declare_target/test_declare_target_parallel_for.F90
Labels: new test, 5.0, ready

#619 Add new_test/test_declare_target_device_type_nohost.F90
  tests/5.0/declare_target/test_declare_target_device_type_nohost.F90
Labels: new test, 5.0, ready

#617 Add new_test/test_declare_target_device_type_any.F90
  tests/5.0/declare_target/test_declare_target_device_type_any.F90
Labels: new test, 5.0, ready

#624 Test declare mapper iterator
  tests/5.2/declare_mapper/test_declare_mapper_iterator.c
Labels: new test, 5.2

#598 new_test/5.1/test_requires_unified_shared_memory_heap_is_device_ptr.F90
  tests/5.1/requires/test_requires_unified_shared_memory_heap_is_device_ptr.F90
Labels: new test, ready, 5.1

#585 Add new_test/test_requires_unified_shared_memory_heap_is_device_ptr.F90
  tests/5.0/requires/test_requires_unified_shared_memory_heap_is_device_ptr.F90
  tests/5.0/requires/test_requires_unified_shared_memory_heap_is_device_ptr.c
Labels: new test, 5.0, ready
