Repository OpenMP-Validation-and-Verification/OpenMP_VV, pull requests merged in 2022-10, with the labels that each got.

#577 Error Directive test
  tests/5.1/error/test_error_at_execution.c
  tests/5.1/error/test_error_message.c
  tests/5.1/error/test_error_severity_warning.c
Labels: new test, ready, 5.1

#621 Test Depend inoutset
  tests/5.1/depend/test_depend_inoutset.c
Labels: ready, 5.1

#602 add ompx F90 test code
  tests/5.2/implementation_defined/test_ompx_free.F90
Labels: ready, 5.2

#622 Test omp places numa domains
  tests/5.1/env_var/test_omp_places_numa_domains.c
Labels: new test, ready, 5.1

#625 Atomic Fail test
  tests/5.1/atomic/test_atomic_fail_acquire.c
  tests/5.1/atomic/test_atomic_fail_relaxed.c
  tests/5.1/atomic/test_atomic_fail_seq_cst.c
Labels: help wanted, 5.1

#580 Add new_test/test_requires_unified_shared_memory_stack_map.F90
  tests/5.0/requires/test_requires_unified_shared_memory_stack_map.F90
  tests/5.0/requires/test_requires_unified_shared_memory_stack_map.c
Labels: new test, 5.0, ready

#549 Add new_test/test_loop_collapse_device.F90
  tests/5.0/loop/test_loop_collapse_device.F90
Labels: new test, 5.0, ready

#596 fix_issue_595/test_declare_mapper_target_struct.F90
  tests/5.0/declare_mapper/test_declare_mapper_target_struct.F90
Labels: bug fix

#560 Add new_test/test_requires_unified_shared_memory_heap_map.F90
  tests/5.0/requires/test_requires_unified_shared_memory_heap_map.F90
  tests/5.0/requires/test_requires_unified_shared_memory_heap_map.c
Labels: new test, 5.0

#573 Add new_test/test_requires_unified_shared_memory_stack.F90
  tests/5.0/requires/test_requires_unified_shared_memory_stack.F90
Labels: new test, 5.0, ready

#550 Add new_test/test_loop_collapse.F90
  tests/5.0/loop/test_loop_collapse.F90
  tests/5.0/loop/test_loop_collapse.c
Labels: new test, 5.0, ready

#629 Fix test_metadirective_nothing.c
  tests/5.1/metadirective/test_metadirective_nothing.c
Labels: ready, bug fix

#627 New test for the omp_all_memory locator for the depend clause
  tests/5.1/depend/test_target_depend_out_omp_all_memory.c
Labels: new test, ready, 5.1

#626 Update test_target_uses_allocators_pteam.c
  tests/5.0/target/test_target_uses_allocators_pteam.c
Labels: ready, bug fix

#597 fix_issue/test_declare_variant.F90
  tests/5.0/declare_variant/test_declare_variant.F90
Labels: 5.0, ready, bug fix

#461 Add new_test/test_target_device.F90.
  tests/5.0/target/test_target_device.F90
  tests/5.0/target/test_target_device.c
Labels: new test, 5.0, ready
