Repository OpenMP-Validation-and-Verification/OpenMP_VV, pull requests merged in 2022-09, with the labels that each got.

#608 test_get_mapped_ptr.c: Add cast to avoid conversion error
  tests/5.1/memory_routines/test_get_mapped_ptr.c
Labels: ready, bug fix

#606 tests/5.1/assume/test_assume_no_parallelism.c: Fix var scope issue
  tests/5.1/assume/test_assume_holds.c
  tests/5.1/assume/test_assume_no_openmp_routines.c
  tests/5.1/assume/test_assume_no_parallelism.c
Labels: ready, bug fix, 5.1

#582 New test/test requires unified shared memory static.f90
  tests/5.0/requires/test_requires_unified_shared_memory_static.F90
  tests/5.0/requires/test_requires_unified_shared_memory_static.c
Labels: new test, 5.0, ready

#583 Add new_test/test_requires_unified_shared_memory_static_map.F90
  tests/5.0/requires/test_requires_unified_shared_memory_static_map.F90
  tests/5.0/requires/test_requires_unified_shared_memory_static_map.c
Labels: new test, 5.0, ready

#475 New metadirective test for the nothing directive
  tests/5.1/metadirective/test_metadirective_nothing.c
Labels: new test, ready, 5.1

#589 Test scope nowait construct.c
  tests/5.1/scope/test_scope_nowait_construct.c
Labels: new test, ready, 5.1

#593 Added order unconstrained clause on taskloop test
  tests/5.1/order/test_taskloop_simd_order_unconstrained_device.c
Labels: new test, ready, 5.1

#611 first omp_places cache test iteration
  tests/5.1/env_var/test_omp_places_env_ll_caches.c
Labels: new test, ready, 5.1
