Repository OpenMP-Validation-and-Verification/OpenMP_VV, pull requests merged in 2023-06, with the labels that each got.

#738 Adding test for scope directive, allocate clause, on device
  tests/5.2/scope/test_scope_allocate_construct.c
Labels: new test, ready, 5.2

#715 Adding 5.1 Loop Unroll Test
  tests/5.1/loop/test_full_loop_unroll.c
  tests/5.1/loop/test_loop_unroll.c
  tests/5.1/loop/test_partial_loop_unroll.c
Labels: ready, 5.1

#717 Add new_test/5.1/test_target_has_device_addr.F90
  tests/5.1/target/test_target_has_device_addr.F90
  tests/5.1/target/test_target_has_device_addr.c
Labels: new test, in progress, 5.1

#744 Added initial test for scope construct
  tests/5.1/scope/test_scope_construct.c
Labels: new test, ready, 5.1
