Repository OpenMP-Validation-and-Verification/OpenMP_VV, pull requests merged in 2023-02, with the labels that each got.

#663 Fix warnings on nested_declare_target test
  tests/5.0/declare_target/test_nested_declare_target.c
Labels: ready, bug fix

#584 Add new_test/test_requires_unified_shared_memory_static_is_device_ptr.F90
  tests/5.0/requires/test_requires_unified_shared_memory_static_is_device_ptr.F90
  tests/5.0/requires/test_requires_unified_shared_memory_static_is_device_ptr.c
Labels: new test, 5.0, ready

#656 Addressing issue 638.
  tests/5.0/target/test_target_uses_allocators_pteam.c
Labels: ready, bug fix

#677 Add new_test/test_requires_atomic_default_mem_order_acq_rel.F90
  tests/5.0/requires/test_requires_atomic_default_mem_order_acq_rel.F90
  tests/5.0/requires/test_requires_atomic_default_mem_order_acq_rel.c
Labels: new test, 5.0, ready

#676 Add new_test/test_requires_atomic_default_mem_order_seq_cst.F90
  tests/5.0/requires/test_requires_atomic_default_mem_order_seq_cst.F90
  tests/5.0/requires/test_requires_atomic_default_mem_order_seq_cst.c
Labels: new test, 5.0, ready

#668 Add OMPVV_NUM_TEAMS_HOST
  ompvv/ompvv.h
Labels: infrastructure, ready
