Repository OpenMP-Validation-and-Verification/OpenMP_VV, pull requests merged in 2023-04, with the labels that each got.

#700 Ordered Doacross - Current Iteration
  tests/5.2/ordered/test_ordered_doacross.c
  tests/5.2/ordered/test_ordered_doacross_omp_cur_iteration.c
Labels: ready, 5.2

#698 Changing test so the device memory update is discontigous
  tests/5.0/target_update/test_target_update_mapper_to_discontiguous.c
Labels: enhancement, 5.0, ready

#658 Add new_test/test_simd_order_concurrent.F90
  tests/5.0/simd/test_simd_order_concurrent.F90
Labels: new test, 5.0, ready

#646 Add a new test (test/5.0/loop/test_loop_nested_device.F90)
  tests/5.0/loop/test_loop_nested_device.F90
  tests/5.0/loop/test_loop_nested_device.c
Labels: new test, 5.0, ready

#644 Add a new test (test/5.0/loop/test_loop_bind.F90)
  tests/5.0/loop/test_loop_bind.F90
  tests/5.0/loop/test_loop_bind.c
Labels: new test, 5.0, ready

#692 Add new_test/5.0/test_taskloop_reduction.F90
  tests/5.0/taskloop/test_taskloop_reduction.F90
Labels: new test, 5.0, ready

#684 Add new_test/test_atomic_hint.F90
  tests/5.0/atomic/test_atomic_hint.F90
Labels: new test, 5.0, ready

#709 Update test_target_update_mapper_to_discontiguous.c
  tests/5.0/target_update/test_target_update_mapper_to_discontiguous.c
Labels: ready, bug fix

#696 Aligned calloc routine (host and device)
  tests/5.1/allocate/test_aligned_calloc.c
  tests/5.1/allocate/test_target_aligned_calloc.c
Labels: new test, ready, 5.1

#670 Add new_test/test_target_simd_order_concurrent.F90
  tests/5.0/target_simd/test_target_simd_order_concurrent.F90
Labels: new test, 5.0, ready

#647 Add a new test (test/5.0/loop/test_loop_nested.F90)
  tests/5.0/loop/test_loop_nested.F90
  tests/5.0/loop/test_loop_nested.c
Labels: new test, 5.0, ready

#716 Map present modifier reordering test
  tests/5.1/target/test_target_map_present_ordering.c
Labels: ready, 5.1

#705 Add new_test/5.1/test_target_defaultmap_present.F90
  tests/5.1/target/test_target_defaultmap_present.F90
  tests/5.1/target/test_target_defaultmap_present.c
Labels: new test, ready, 5.1

#657 Add new_test/test_metadirective_arch_nvidia_or_amd.F90
  tests/5.0/metadirective/test_metadirective_arch_nvidia_or_amd.F90
Labels: new test, 5.0, ready

#714 Update Makefile
  Makefile
Labels: V&V bug, Makefile, ready
