Repository OpenMP-Validation-and-Verification/OpenMP_VV, pull requests merged in 2023-05, with the labels that each got.

#704 Training
  tests/5.0/loop/test_loop_reduction_add_mod.c
Labels: 5.0, ready

#706 Add new_test/5.1/test_target_defaultmap_present_aggregate.F90
  tests/5.1/target/test_target_defaultmap_present_aggregate.F90
  tests/5.1/target/test_target_defaultmap_present_aggregate.c
Labels: new test, ready, 5.1

#732 Issue 731: Fix test_loop_{nested,bind}{,_device}.F90: Add missing private(j)
  tests/5.0/loop/test_loop_bind.F90
  tests/5.0/loop/test_loop_bind_device.F90
  tests/5.0/loop/test_loop_nested.F90
  tests/5.0/loop/test_loop_nested_device.F90
Labels: bug fix

#719 Test for firstprivate clause with scope directive on the host
  tests/5.2/scope/test_scope_firstprivate_construct.c
Labels: new test, ready, 5.2

#718 omp_in_explicit_task runtime test
  tests/5.2/runtime_calls/test_omp_in_explicit_task.c
Labels: new test, ready, 5.2
