Repository OpenMP-Validation-and-Verification/OpenMP_VV, pull requests merged in 2023-03, with the labels that each got.

#662 initial map iterator test
  tests/5.1/target/test_target_map_iterators.c
Labels: new test, ready, 5.1

#664 Target Device "device_num" test
  tests/5.1/metadirective/test_metadirective_target_device_num.c
Labels: new test, 5.1

#661 New test for the omp_aligned_alloc routine (device version)
  tests/5.1/allocate/test_omp_target_aligned_alloc_device.c
Labels: new test, ready, 5.1

#654 target_device with "kind" clause (in metadirective) test
  tests/5.1/metadirective/test_metadirective_target_device_kind.c
  tests/5.1/metadirective/test_metadirective_target_device_kind_any.c
Labels: new test, awaiting testing, 5.1

#680 New test for the omp_calloc routine (device version)
  tests/5.1/allocate/test_target_calloc.c
Labels: new test, ready, 5.1

#679 New test for the omp_calloc routine (host version)
  tests/5.1/allocate/test_calloc_host.c
Labels: new test, ready, 5.1

#648 New test for the omp_aligned_alloc routine
  tests/5.1/allocate/test_omp_aligned_alloc_host.c
Labels: new test, ready, 5.1

#592 Add new_test/test_requires_reverse_offload.F90
  tests/5.0/requires/test_requires_reverse_offload.F90
  tests/5.0/requires/test_requires_reverse_offload.c
Labels: new test, 5.0, ready

#690 Fix test_omp_target_aligned_alloc_device.c
  tests/5.1/allocate/test_omp_target_aligned_alloc_device.c
Labels: ready, bug fix

#695 Update test_target_teams_distribute_parallel_for_defaultmap.c
  tests/4.5/target_teams_distribute_parallel_for/test_target_teams_distribute_parallel_for_defaultmap.c
Labels: ready, bug fix, 4.5

#686 Add new_test/test_atomic_num_hint_device.F90
  tests/5.0/atomic/test_atomic_num_hint_device.F90
  tests/5.0/atomic/test_atomic_num_hint_device.c
Labels: new test, 5.0, ready

#682 Update test_target_update_mapper_from_discontiguous.c
  tests/5.0/target_update/test_target_update_mapper_from_discontiguous.c
Labels: ready, bug fix

#436 Adding last tests for defaultmap present
  tests/5.1/target/test_target_defaultmap_present_aggregate.c
  tests/5.1/target/test_target_defaultmap_present_pointer.c
Labels: new test, ready, 5.1

#652 Target Update Iterator test
  tests/5.1/target_update/test_target_update_iterator.c
Labels: new test, ready, 5.1

#659 Add new_test/test_simd_nontemporal.F90
  tests/5.0/simd/test_simd_nontemporal.F90
Labels: new test, 5.0, ready

#687 Add 5.1 test for present map type modifier
  tests/5.1/target/test_target_map_with_present_modifier.c
Labels: ready, 5.1

#678 Add new_test/test_requires_atomic_default_mem_order_relaxed.F90
  tests/5.0/requires/test_requires_atomic_default_mem_order_relaxed.F90
  tests/5.0/requires/test_requires_atomic_default_mem_order_relaxed.c
Labels: new test, 5.0, ready

#683 Add new_test/test_atomic_acquire_release.F90
  tests/5.0/atomic/test_atomic_acquire_release.F90
Labels: new test, 5.0, ready

#660 Add new_test/test_target_simd_nontemporal.F90
  tests/5.0/target_simd/test_target_simd_nontemporal.F90
Labels: new test, 5.0, ready

#694 Add new_test/5.0/test_taskloop_in_reduction_device.F90
  tests/5.0/taskloop/test_taskloop_in_reduction_device.F90
  tests/5.0/taskloop/test_taskloop_in_reduction_device.c
Labels: new test, 5.0, ready

#669 New test/test_loop_private.f90
  tests/5.0/loop/test_loop_private.F90
Labels: new test, 5.0, ready

#642 omp_alloctrait_key enum test
  tests/5.1/allocate/test_omp_alloctrait_key.c
Labels: ready, 5.1

#653 Add new_test/test_metadirective_arch_is_nvidia.F90
  tests/5.0/metadirective/test_metadirective_arch_is_nvidia.F90
Labels: new test, 5.0, ready

#651 test_omp_places_: Improve, typo + warning fixes
  tests/5.1/env_var/test_omp_places_env_ll_caches.c
  tests/5.1/env_var/test_omp_places_env_numa_domains.c
Labels: Makefile, ready

#387 Adding .F90 test for test_target_teams_distribute_parallel_for with defaultmap per #81
  tests/4.5/target_teams_distribute_parallel_for/test_target_teams_distribute_parallel_for_defaultmap.F90
Labels: new test, ready, 4.5

#689 indirect declare target test
  tests/5.1/target/test_target_declare_indirect.c
Labels: in progress, 5.1
