Repository OpenMP-Validation-and-Verification/OpenMP_VV, pull requests merged in 2023-11, with the labels that each got.

#778 Adding if, firstprivate, lastprivate and shared clause Test Cases of …
  tests/4.5/taskloop/test_taskloop_firstprivate.c
  tests/4.5/taskloop/test_taskloop_if.c
  tests/4.5/taskloop/test_taskloop_lastprivate.c
  tests/4.5/taskloop/test_taskloop_shared.c
Labels: new test, in progress, 4.5

#767 Add new_test/5.1/target_update/test_target_update_to_present.F90
  tests/5.1/target_update/test_target_update_to_present.F90
  tests/5.1/target_update/test_target_update_to_present.c
Labels: new test, 5.1

#781 Adding fortran counterpart for simd collapse.
  tests/4.5/target_simd/test_target_simd_collapse.F90
Labels: new test, ready, 4.5

#746 Add new_test/5.1/test_target_is_accessible.F90
  tests/5.1/target/test_target_is_accessible.F90
  tests/5.1/target/test_target_is_accessible.c
Labels: new test, ready, 5.1

#601 Dispatch Depend test
  tests/5.1/dispatch/test_dispatch_depend.c
Labels: new test, ready, 5.1

#604 Declare Variant "adjust_args" test
  tests/5.1/declare_variant/test_declare_variant_adjust_args.c
Labels: new test, ready, 5.1

#590 Dispatch w/ novariants, nowait, nocontext & is_device_ptr clauses
  tests/5.1/dispatch/test_dispatch_is_device_ptr.c
  tests/5.1/dispatch/test_dispatch_nocontext.c
  tests/5.1/dispatch/test_dispatch_novariants.c
  tests/5.1/dispatch/test_dispatch_nowait.c
Labels: new test, ready, 5.1
