Repository OpenMP-Validation-and-Verification/OpenMP_VV, pull requests merged in 2023-09, with the labels that each got.

#750 New test for omp_get_max_teams()
  tests/5.1/teams/test_target_get_max_teams.c
Labels: new test, ready, 5.1

#769 Add new_test/5.1/target_update/test_target_update_iterator.F90
  tests/5.1/target_update/test_target_update_iterator.F90
Labels: new test, ready, 5.1

#724 Adding test cases for target construct and applicable clauses
  tests/4.5/target/test_target_device1.c
  tests/5.0/target/test_target_collapse.c
  tests/5.0/target/test_target_firstprivate_device.c
  tests/5.0/target/test_target_parallel_default.c
  tests/5.0/target/test_target_parallel_if_device.c
  tests/5.0/target/test_target_parallel_is_dev_ptr.c
  tests/5.0/target/test_target_parallel_linear.c
  tests/5.0/target/test_target_parallel_reduction.c
  tests/5.0/target/test_target_teams_is_device_ptr.c
  tests/5.0/target/test_target_teams_num_teams.c
  tests/5.0/target/test_target_teams_reduction.c
Labels: new test, in progress, 5.0

#751 Adding USM based tests
  tests/5.2/unified_shared_mem/test_target_PureVirDestr.cpp
  tests/5.2/unified_shared_mem/test_target_struct_obj_access.cpp
Labels: new test, in progress, ready

#772 Adding Test Cases for Target Parallel Loop Construct
  tests/5.0/target_parallel_loop/test_target_parallel_loop_collapse.c
  tests/5.0/target_parallel_loop/test_target_parallel_loop_reduction.c
Labels: ready

#776 Change the memory-order-clause in atomic fail tests to seq_cst.
  tests/5.1/atomic/test_atomic_fail_acquire.F90
  tests/5.1/atomic/test_atomic_fail_acquire.c
  tests/5.1/atomic/test_atomic_fail_relaxed.F90
  tests/5.1/atomic/test_atomic_fail_relaxed.c
  tests/5.1/atomic/test_atomic_fail_seq_cst.c
Labels: ready, bug fix, 5.1

#712 New test/5.1/test target defaultmap present scalar.f90
  tests/5.1/target/test_target_defaultmap_present_scalar.F90
  tests/5.1/target/test_target_defaultmap_present_scalar.c
Labels: new test, ready, 5.1
