Repository OpenMP-Validation-and-Verification/OpenMP_VV, pull requests merged in 2023-08, with the labels that each got.

#759 Update issue templates: remove nolanbaker31
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/test-request.md
Labels: infrastructure, ready

#747 Add new_test/5.1/atomic/test_atomic_fail_acquire.F90
  tests/5.1/atomic/test_atomic_fail_acquire.F90
Labels: new test, ready, 5.1

#745 Initial test for metadirective construct with otherwise clause
  tests/5.2/metadirective/test_metadirective_otherwise.c
Labels: new test, ready, 5.2

#764 Add new_test/5.1/test_atomic_compare_device.F90
  tests/5.1/atomic/test_atomic_compare_device.F90
  tests/5.1/atomic/test_atomic_compare_device.c
Labels: new test, ready, 5.1

#763 New test/5.1/test atomic compare.f90
  tests/5.1/atomic/test_atomic_compare.F90
  tests/5.1/atomic/test_atomic_compare.c
Labels: new test, ready, 5.1

#765 Add new_test/5.1/teams/test_target_teams_default_firstprivate.F90
  tests/5.1/teams/test_target_teams_default_firstprivate.F90
  tests/5.1/teams/test_target_teams_default_firstprivate.c
Labels: new test, ready, 5.1
