Repository OpenMP-Validation-and-Verification/OpenMP_VV, pull requests merged in 2024-02, with the labels that each got.

#699 Taskloop & taskloop SIMD w/ shared clause
  tests/4.5/taskloop/test_target_taskloop_shared.c
  tests/4.5/taskloop/test_taskloop_simd_shared.c
Labels: new test, in progress, 4.5

#794 Moving omp_get_max_teams outside teams.
  tests/5.1/teams/test_teams_set_num_teams.c
Labels: ready, bug fix

#707 Dispatch w/ no clause; Dispatch w/ device clause
  tests/5.1/dispatch/test_dispatch.c
  tests/5.1/dispatch/test_dispatch_device.c
Labels: new test, ready, 5.1

#711 Add new_test/5.1/test_target_defaultmap_present_pointer.F90
  tests/5.1/target/test_target_defaultmap_present_pointer.F90
  tests/5.1/target/test_target_defaultmap_present_pointer.c
Labels: new test, in progress, 5.1

#720 Adding tests based on task construct and applicable clauses
  tests/4.5/task/test_task_ThrdPrivate.c
  tests/4.5/task/test_task_critical.c
  tests/4.5/task/test_task_final.c
  tests/4.5/task/test_task_if.c
  tests/4.5/task/test_task_lock.c
  tests/4.5/task/test_task_target.c
Labels: new test, 5.0
