Repository OpenMP-Validation-and-Verification/OpenMP_VV, pull requests merged in 2024-10, with the labels that each got.

#833 Adding test file for message clause.
  tests/6.0/parallel/test_parallel_message.c
Labels: new test, 6.0

#835 Adding test for parallel with severity clause.
  tests/6.0/parallel/test_parallel_severity.c
Labels: new test, 6.0

#836 Test for the reverse construct
  tests/6.0/target/test_target_reverse.c
Labels: new test, ready, 6.0

#837 fix_issue_643/test_target_update_mapper_from_discontiguous.F90
  tests/5.0/target_update/test_target_update_mapper_from_discontiguous.F90
  tests/5.0/target_update/test_target_update_mapper_to_discontiguous.F90
Labels: 5.0, bug fix

#838 New 6.0 test for interchange construct in c
  tests/6.0/target/test_target_interchange.c
Labels: new test, 6.0

#839 6.0 fuse looprange
  tests/6.0/fuse/test_fuse_looprange.c
Labels: new test, 6.0

#840 New 6.0 test for assumed size arrays for use device address
  tests/6.0/target/test_target_data_use_device_address.c
Labels: new test, 6.0

#841 Adding initial test file which requires revisions for comments.
  tests/6.0/fuse/test_fuse_apply_looprange.c
Labels: new test, 6.0
